---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

const url = Astro.url;
const currentLang = getLangFromUrl(url);
---

<select
  id="language-select"
  class="bg-transparent border-none cursor-pointer text-gray-700 hover:text-blue-500 transition-colors duration-300"
  value={currentLang}
>
  {
    Object.entries(languages).map(([lang, label]) => (
      <option value={lang} selected={currentLang === lang}>
        {label}
      </option>
    ))
  }
</select>

<script>
  const select = document.getElementById("language-select");

  select?.addEventListener("change", (e) => {
    const target = e.target as HTMLSelectElement;
    const newLang = target.value;
    const currentPath = window.location.pathname;

    // Get the current route without language prefix
    const route = currentPath.split("/").slice(2).join("/");

    // Construct new path
    const newPath = route ? `/${newLang}/${route}` : `/${newLang}`;
    window.location.href = newPath;
  });
</script>
